dotenv
#export DUCKDB_INIT="./init.sql" # moved this to .env
alias duckdb="poetry run duckdb -init $DUCKDB_INIT"
# create an init.sql file; attach './<path>/<filename>.duckdb' as <database_name>;
# run this in bash: alias duckdb='poetry run duckdb -init $DUCKDB_INIT'
